
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

p {
    line-height: 120%;
    margin: 10px;
}

h2{color:blue}

h3 {
    margin: 10px;
}

h4 {
    margin: 10px;
}

hr {border-width: 2px; color: #352BF3;}

alert {color:red}

input {background-color: #FFFFE0;}

indent {text-indent: 10px; color:blue;}

standards {font-family: "Old Standard TT";}