/* .footer {
  min-height: 50px;
  background: #E5E5E5;
  position: relative;
  margin-bottom: -50px;
} */

.footer span {
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
  text-align: center;
  margin: 0px 50px 0px 50px;
  /* flex: 0 0 auto; */
}
